
body{
        background-image: url("../images/1.jpg");
        background-size: auto;
}
.quiz-title{
    line-height: 0px;
   
    background-color: green;
    border-radius: 20px;
    margin-top: 100px;
    text-align: center;
    border:5px solid white;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bolder;
    color:white;
    
}
.enter-quiz{
    background-image: url("/images/1.jpg");
    border:5px solid white;
    border-radius: 20px;
    color:black;
    margin-top: 50px;
    margin-left:400px;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    line-height: 1px;
    width:500px;
    text-decoration: none;
}


a:hover{
    color:crimson;
    text-decoration: underline;
    cursor: pointer;
    
}

.answer_button{
   margin-top:150px;    
    margin-left:80px;
    width:200px;
    height: 50px;
    border: 2px solid red;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    
}
.answer_button:hover{
    background-color: greenyellow;
    cursor: pointer;
}
.submit_button{
    margin-left:150px;
    width:200px;
    height: 50px;
     border: 2px solid red;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    
}
.submit_button:hover{
    background-color: greenyellow;
    cursor: pointer;
}
.ques{
    margin-top: 70px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
