a{
    text-decoration: none;
}
a:hover{
    
    color:black;
   cursor: pointer;
}
.first-round{
    margin-top: 50px;
    padding-top:15px;
    border: 5px solid white;
    background-color: rgb(128, 0, 0);
    width: 400px;
    height:70px;
    color:blue;
    text-align: center;
    border-radius: 10px;
    width: 400px;
    margin-left: 450px;
    font-size: 45px;
    font-weight: bold;
    box-shadow: 5px 5px red;
    
}
.second-round{
    margin-top: 20px;
    padding-top:15px;
    border: 5px solid white;
    background-color: rgb(128, 0, 0);
    color:blue;
    text-align: center;
    border-radius: 20px;
    width: 400px;
    height:70px;
    margin-left: 450px;
    font-size: 45px;
    font-weight: bold;
    box-shadow: 5px 5px red;
}
.third-round{
    margin-top: 20px;
    padding-top: 15px;
        border: 5px solid white;
    background-color: rgb(128, 0, 17);
    color:blue;
    text-align: center;
    border-radius: 10px;
    width: 400px;
    height: 70px;
    margin-left: 450px;
    font-size: 45px;
    font-weight: bold;
    box-shadow: 5px 5px red;
}
.fourth-round{
    margin-top: 20px;
    padding-top: 15px;
    border: 5px solid white;
    background-color: rgb(128, 0, 11);
    color:blue;
    text-align: center;
    border-radius: 10px;
    width: 400px;
    height:70px;
    margin-left: 450px;
    font-size: 45px;
    font-weight: bold;
    box-shadow: 5px 5px red;
}
.fifth-round{
    
    margin-top: 20px;
    padding-top: 15px;
    border: 5px solid white;
    background-color: rgb(128, 0, 0);
    height:70px;
    color:blue;
    text-align: center;
    border-radius: 10px;
    width: 400px;
    margin-left: 450px;
    font-size: 45px;
    font-weight: bold;
    box-shadow: 5px 5px red;
}