
.round1-subtitle p{
    margin-top: 20px;
    font-size:60px;
    text-align: center;
    color:white;
}
.round1-questions-container
{
    
    margin-top: 0px;
    width: 700px;
    height: 400px;
    background-color: khaki;
    margin-left: 300px;
    border-radius: 10px;
    border: 5px solid white;
}
#ques1{
    margin-top: 70px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
#round_selection_button{
    width: auto;
    margin-left:100px;
}